
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');


.header {
    background-color: #fff;
}
.nav-link {
	font-weight: 600;
}
#brand-name{
	color: rgb(120, 207, 39) ;
}
.nav-item {
	padding-left:25px;
}
.carousel-item {
  height: 500px;
}
.carousel-item img {
    position: relative;
    width:50%;
    max-height: 80vh;
}
.carousel-item h1{
	font-size:8vw;
}
.carousel-item p{
	font-size:3vw;
}

#main-caption{
	top: 50% !important;
	transform: translateY(-40%);
	text-align: center;
	bottom: initial;
}
@media (max-width: 600px) { 
	.carousel-caption  {
		top: 50% !important;
		transform: translateY(-30%);
		text-align: center;
		bottom: initial;
		font-size:10px;
	}
	#main-caption{
		top: 50% !important;
		transform: translateY(-130%);
		text-align: center;
		bottom: initial;
		font-size:10px;
	}
	.carousel-item h1{
		font-size:30px;
	}
	.carousel-item p{
		font-size:15px;
	}
 }
 
/*---------- section1 ----------------*/
.section1{
	
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #f9f2ec
}
.card{
	margin-top: 10px;
	margin-bottom: 15px;
}
.card-body{
	text-align: center;
	justify-content: center;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(132, 216, 54) !important;
	border: none;

}
.btn a{
	border: none;
}
@media (max-width: 600px){
	.section1{
		margin:0;
		padding:0;
	}
}

.section1 .title1{
	text-align:center;
	justify-content:center;
	padding: 25px;
	margin: 20px;
	color: rgb(120, 207, 39) ;
	font-family: 'PT Serif', serif;
}


/*---------- section4 ----------------*/
.section4{
	
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #f9f2ec
}
.card{
	margin-top: 10px;
	margin-bottom: 15px;
	border: none;
}
.card-body4{
	text-align: left;
}
.card-text4{
	padding-top: 5px;

}
.card-body4 h6{
	font-weight: 500;
}
@media (max-width: 600px){
	.section4{
		margin:0;
		padding:0;
	}
}

.section4 .title4{
	text-align:center;
	justify-content:center;
	padding: 25px;
	margin: 20px;
	color: rgb(120, 207, 39) ;
	font-family: 'PT Serif', serif;
}




